/* dashboard */
.body-dashboard {
  background-color: var(--ghost-white);
  position: relative;
  min-height: 120vh;
}
/* header */
.header-dashboard {
  background-color: var(--white);
  box-shadow: var(--primary-shadow);
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

/* .nav-dashboard {
}
.inner-dashboard {
} */

.inner-dashboard > span {
  color: var(--medium-gray);
}

.user-picture {
  width: 64px;
  border-radius: 50%;
}

.arrow-bottom {
  width: 16px;
}
.container-logo-nav {
  display: none;
}

/* logo appear  */
@media screen and (max-width: 800px) {
  .container-logo-nav {
    display: block;
  }
  .header-dashboard {
    justify-content: start;
  }
  .nav-dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

/* aside */

.aside-dashboard {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: var(--tertiary-shadow);
  z-index: 10;
  width: var(--width-dashboard-aside);
  background-color: var(--white);
}

.container-logo-dashboard {
  width: 100%;
}
.container-logo-dashboard > p {
  color: var(--primary-dark-blue);
}

.container-link-item-dashboard > a {
  width: 100%;
  transition: background-color var(--primary-transition-shorthand);
}

.container-link-item-dashboard > a:hover {
  background-color: var(--secondary-color-soft);
}
.inner-link-item-dashboard-active {
  background-color: var(--secondary-color-soft);
}
.container-link-item-dashboard > a > p {
  color: var(--secondary-dim-gray);
}

.inner-link-item-dashboard-active > p {
  color: var(--primary-dark-blue) !important;
}
.inner-link-item-dashboard-active::after {
  content: "";
  width: 0.5rem;
  height: 60px;
  background-color: var(--primary-dark-blue);
  position: absolute;
  right: 0;
  border-radius: 12px;
}
/* main */
.main-dashboard {
  padding: var(--padding-dashboard-main);
}
.container-main-title-dashboard > p {
  color: var(--tertiary-dim-gray);
}

/* table */
.container-table-dashboard {
  background-color: var(--white);
  box-shadow: var(--quaternary-shadow);
  border-radius: 17px;
  overflow-x: auto;
}
/* .container-table-dashboard {
  overflow-x: auto;
} */

/* scrollbar */

.container-table-dashboard::-webkit-scrollbar {
  background-color: var(--secondary-muted);
  height: 12px;
  border-radius: 10px;
}
.container-table-dashboard::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 10px;
}
.container-table-dashboard::-webkit-scrollbar-track {
  background-color: var(--secondary-muted);
  border-radius: 10px;
}
.container-table-dashboard .table-dashboard {
  width: 100%;
  border-collapse: collapse;
}
/* thead */
.thead-dashboard {
  background-color: var(--alice-blue);
}

.thead-dashboard > tr > th,
.tbody-dashboard > tr > td {
  padding: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-dim-gray);
}

.thead-dashboard > tr > th {
  font-weight: 600;
}
/* tbody */
.tbody-dashboard > tr > td {
  font-weight: 400;
}
.date-col {
  min-width: 112px;
}
/* footer */

.footer-select-dashboard {
  border: var(--secondary-border-input);
  background-color: var(--quaternary-dim-gray);
  border-radius: 0.5rem;
}
.divider {
  background-color: var(--divider);
}
/* take care aside */
@media screen and (max-width: 800px) {
  .aside-dashboard {
    display: none !important;
  }
  .main-dashboard {
    padding: 0;
  }
}

/* take care main  */
@media screen and (max-width: 800px) {
  .main-dashboard {
    padding-top: var(--padding-y-dashboard-main);
  }
  .main-dashboard,
  .container-table-dashboard {
    padding-inline: 1rem;
  }
}

/* responsive table */
@media screen and (max-width: 800px) {
  .table-dashboard thead {
    display: none;
  }

  .table-dashboard,
  .table-dashboard tbody,
  .table-dashboard tr,
  .table-dashboard td {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
  }

  .table-dashboard td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table-dashboard tr {
    margin-bottom: 15px;
  }

  .thead-dashboard > tr > th,
  .tbody-dashboard > tr > td {
    padding: 4px;
  }

  .table-dashboard td::before {
    content: attr(data-label);
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
  }
  .tbody-dashboard > tr > td > p {
    text-align: left;
  }

  .container-action-dashboard {
    justify-content: start !important;
  }
}

/* landing page */

/* header landing */
.header-landing {
  position: fixed;
  width: 100%;
  padding-top: var(--padding-top-nav-landing);
  padding-left: var(--padding-left-nav-landing);
  padding-right: var(--padding-right-nav-landing);
  z-index: 3;
}
.nav-landing {
  gap: 1rem;
}
/* middle */
.nav-landing,
.middle-nav {
  justify-content: space-between;
}
.nav-landing,
.left-nav,
.middle-nav {
  display: flex;
  align-items: center;
}
.left-nav,
.middle-nav {
  gap: 24px;
}
.middle-nav > li > a {
  font-weight: 500;
}
.nav-landing > .left-nav > img {
  width: 46px;
}
.left-nav > span,
.left-nav > p {
  color: var(--white);
}
/* right */

.right-nav > button {
  padding-inline: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.right-nav > div > img {
  width: 24px;
}

@media screen and (max-width: 1280px) {
  .middle-nav,
  .right-nav > button {
    display: none;
  }
  .right-nav > div {
    display: block;
  }
  .header-landing {
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: 744px) {
  .nav-landing > .left-nav > img {
    width: 35.72px;
    height: 32.61px;
  }
  .left-nav > span,
  .left-nav > p {
    font-size: 12.42px;
    font-style: italic;
    font-weight: 500;
    line-height: 18.64px;
    text-align: left;
  }
}
/* iphone */
@media screen and (max-width: 430px) {
  .nav-landing > .left-nav > img {
    width: 26.32px;
    height: 24.03px;
  }
  .left-nav > span,
  .left-nav > p {
    font-size: 9.15px;
    font-style: italic;
    font-weight: 500;
    line-height: 13.73px;
  }
  .middle-nav,
  .right-nav > button {
    display: none;
  }
  .right-nav > div {
    display: block;
  }
}

/* hero landing page */
.container-hero-landing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 878px;
}
.container-hero-landing .left-landing,
.container-hero-landing .right-landing {
  padding-top: var(--padding-top-hero);
}
.container-hero-landing .left-landing {
  position: relative;
  grid-column: span 2;
  background-color: var(--primary-dark-blue);
}
.container-hero-landing .right-landing {
  grid-column: span 3;
}

.container-hero-landing .left-landing > img {
  position: absolute;
}

/* white */
.container-hero-landing .left-landing .first {
}
/* purple */
.container-hero-landing .left-landing .second {
}
.container-hero-landing .left-landing .third {
}
.container-hero-landing .left-landing .fourth {
}
.container-hero-landing .left-landing .fifth {
}
/* half circle */
.container-hero-landing .left-landing .sixth {
}
.container-hero-landing .left-landing .seventh {
}
/* left */
.left-landing > .woman-bored {
  width: 100%;
  max-width: 411px;
  bottom: 0;
  right: -150px;
}

.container-hero-landing .left-landing .inner-left-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.container-hero-landing .left-landing .inner-left-landing > button {
  color: var(--white);
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 242px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
/* right */
.container-hero-landing .right-landing {
  background-color: var(--secondary-color-soft);
}
.container-hero-landing .right-landing .inner-right-landing {
  margin-left: 120px;
  max-width: 676px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-hero-landing .right-landing .inner-right-landing div h1 {
  font-family: DM Serif Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 87.74px;
  text-align: left;
}
.container-hero-landing .right-landing .inner-right-landing div h1 span {
  color: var(--primary-blue);
}
/* top */

.top-inner-right-landing > p {
  color: var(--quaternary-black);
  font-size: 20px;
  font-weight: 600;
  line-height: 29.98px;
  text-align: left;
}
/* bottom */
.bottom-inner-right-landing {
  background-color: var(--white);
  border: var(--primary-border);
  box-shadow: var(--quinary-shadow);
  border-radius: 10px;
  padding-left: 19px;
  padding-right: 32px;
  padding-top: 24px;
  padding-bottom: 26px;
  width: fit-content;
  display: flex;
  gap: 22px;
}
.bottom-inner-right-landing .container-love {
  background-color: var(--primary-blue);
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-inner-right-landing .container-love img {
  width: 31px;
  height: 31px;
}
.bottom-detail-inner-right-landing {
  max-width: 156px;
}
.bottom-detail-inner-right-landing > p {
  color: var(--primary-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 29.98px;
  text-align: left;
}
.bottom-detail-inner-right-landing > span {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.49px;
  text-align: left;
  color: var(--primary-dark-blue);
}
.bottom-inner-right-landing > img {
  width: 27px;
  height: 27px;
  align-self: center;
}

@media screen and (max-width: 1280px) {
  .container-hero-landing .left-landing .inner-left-landing {
    align-items: start;
    padding-left: 1rem;
  }
  .container-hero-landing .right-landing .inner-right-landing div h1 {
    font-size: 52px;
    line-height: 71.37px;
  }
}

@media screen and (max-width: 730px) {
  .container-hero-landing .right-landing .inner-right-landing div h1 {
    font-size: 24px;
    line-height: 42px;
  }
  .top-inner-right-landing {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-hero-landing .right-landing .inner-right-landing {
    margin-left: 12px;
  }
  .woman-bored {
    left: 36px;
  }

  .bottom-inner-right-landing .container-love {
    display: none;
  }
  .top-inner-right-landing > p,
  .bottom-detail-inner-right-landing > p {
    font-size: 12px;
    line-height: 16px;
  }
  .bottom-inner-right-landing {
    padding: 1rem;
  }

  .container-hero-landing .left-landing .inner-left-landing > button {
    margin-inline: auto;
    padding: 0.5rem 1rem;
    font-size: 10px;
  }
  .inner-left-landing {
    padding-inline: 0.5rem;
    justify-content: center;
    margin-inline: auto;
    align-items: center;
  }
}
@media screen and (max-width: 430px) {
  .bottom-inner-right-landing {
    padding: 0.5rem 1rem;
  }
  .bottom-detail-inner-right-landing {
    gap: 12px;
  }
  .bottom-detail-inner-right-landing > p,
  .bottom-detail-inner-right-landing > span {
    font-size: 12px;
    line-height: 18px;
  }
  .inner-left-landing > button > span {
    font-size: 12px;
  }
  .container-hero-landing {
    min-height: 620px;
  }
  .container-hero-landing .left-landing .inner-left-landing > button {
    margin-inline: auto;
    padding: 0.3rem 0.5rem;
    font-size: 6px;
    gap: 0.3rem;
  }
  .inner-left-landing > button > span {
    font-size: 8px;
  }
  .bottom-inner-right-landing > img {
    display: none;
  }
}
/* mental health section */
.container-mental-health {
  padding-top: var(--padding-top-mental-health);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 1rem;
  padding-inline: 0.5rem;
  align-items: center;
}

/* left */
.left-mental-health {
  gap: 25px;
}

.left-mental-health,
.left-mental-health > .container-title,
.inner-left-mental-health,
.details-inner-left-mental-health > .description {
  display: flex;
  flex-direction: column;
}
.left-mental-health > .container-title {
  gap: 7px;
}
.left-mental-health .container-title h2 {
  font-family: DM Serif Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 87.74px;
  text-align: right;
}
.left-mental-health .container-title h2 > span {
  color: var(--primary-blue);
  display: block;
}
.left-mental-health .container-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
/* inner */
.inner-left-mental-health {
  gap: 1rem;
  align-items: end;
}
/* details */
.details-inner-left-mental-health {
  background-color: var(--primary-dark-blue);
  gap: 28px;
  border-radius: 12px;
  padding-block: 20px;
  padding-inline: 25px;
  display: flex;
  align-items: center;
  width: fit-content;
}
.details-inner-left-mental-health > .description {
  gap: 5px;
}
.details-inner-left-mental-health > .description > .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.details-inner-left-mental-health > .description > .subtitle {
  font-family: "Lexend", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.51px;
}
.details-inner-left-mental-health > .description > p {
  color: var(--white);
  text-align: right;
  max-width: 408px;
}

.details-inner-left-mental-health > .circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* right */

.right-mental-health {
  position: relative;
  display: flex;
  justify-content: end;
  height: fit-content;
}
.right-mental-health > .gate {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.right-mental-health > div > .girl-laptop {
  width: 666px;
  height: auto;
}
@media screen and (max-width: 1280px) {
  .details-inner-left-mental-health > .circle {
    width: 48px;
    height: 48px;
  }
  .clock {
    width: 38px;
    height: 38px;
  }
  .language {
    width: 26px;
    height: 26px;
  }
  .puzzle {
    width: 31px;
    height: 31px;
  }
}
@media screen and (max-width: 744px) {
  .inner-left-mental-health,
  .left-mental-health > .container-title > p {
    display: none;
  }

  .details-mental-health {
    grid-column: span 2;
    padding-top: 27px;
    display: flex !important;
    flex-direction: column;
    gap: 20px;
  }
  .details-mental-health > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }
  .inner-details-mental-health {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .details-inner-left-mental-health > .circle {
    width: 48px;
    height: 48px;
  }
  .clock {
    width: 38px;
    height: 38px;
  }
  .language {
    width: 26px;
    height: 26px;
  }
  .puzzle {
    width: 31px;
    height: 31px;
  }

  .left-mental-health .container-title h2 {
    font-family: DM Serif Display;
    font-size: 36px;
    font-weight: 400;
    line-height: 49.36px;
    text-align: left;
  }
  .inner-details-mental-health
    > .details-inner-left-mental-health
    > .description
    > .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 19.37px;
    text-align: center;
  }
  .inner-details-mental-health
    > .details-inner-left-mental-health
    > .description
    > .subtitle {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .left-mental-health .container-title h2 {
    font-family: DM Serif Display;
    font-size: 28px;
    font-weight: 400;
    line-height: 49.36px;
    text-align: left;
  }
  .inner-details-mental-health
    > .details-inner-left-mental-health
    > .description
    > .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.37px;
    text-align: center;
  }
  .inner-details-mental-health
    > .details-inner-left-mental-health
    > .description
    > .subtitle {
    font-family: Lexend;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
  .details-inner-left-mental-health > .circle {
    width: 30.99px;
    height: 30.99px;
  }
  .clock {
    width: 24.53;
    height: 24.53px;
  }
  .language {
    width: 16.79px;
    height: 16.79px;
  }
  .puzzle {
    width: 20.01px;
    height: 20.01px;
  }
}
/* feature */
.container-feature {
  padding-top: var(--padding-top-feature);
  padding-bottom: var(--padding-bottom-feature);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 0.5rem;
}

/* left */

.left-feature {
  margin-inline: auto;
}
.left-feature > img {
  margin-top: 66px;
  width: 521px;
  height: 657px;
}
/* right */
.right-feature {
  display: flex;
  flex-direction: column;
  gap: 21px;
  max-width: 637px;
}
.right-feature > h3 {
  font-family: DM Serif Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 87.74px;
  text-align: right;
}
.right-feature > h3 > span {
  color: var(--primary-blue);
}
/* inner */
.inner-feature {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: end;
}
.inner-feature > .circle-number {
  width: 71px;
  height: 71px;
  background: var(--primary-dark-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-feature > .circle-number span {
  display: block;
  font-size: 32px;
  font-weight: 400;
  color: var(--white);
}
.inner-feature > h6 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: right;
}
.inner-feature > p {
  text-align: end;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: var(--tertiary-dim-gray);
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 744px) {
  .container-feature {
    align-items: end;
    gap: 1.5rem;
  }
  .right-feature > .inner-feature {
    display: none;
  }
  .left-feature > img {
    width: 100%;
    height: auto;
  }
  .details-feature {
    grid-column: span 2;
    display: flex !important;
    flex-direction: column;
    gap: 12px;
  }
  .details-feature > .inner-feature {
    align-items: center;
  }
  .details-feature > .inner-feature > h6 {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.47px;
    text-align: center;
  }
  .details-feature > .inner-feature > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.24px;
    text-align: center;
  }
  .right-feature > h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 87.74px;
    text-align: right;
  }
}
@media screen and (max-width: 430px) {
  .container-feature {
    gap: 1rem;
  }
  .details-feature > .inner-feature > h6 {
    font-size: 24px;
    font-weight: 600;
    line-height: 27.01px;
  }
  .details-feature > .inner-feature > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.51px;
    text-align: center;
  }
  .right-feature > h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 54.84px;
    text-align: right;
  }
}

/* testimoni */
.container-testimoni {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: var(--quarter-dark-blue);
  overflow-y: hidden;
  padding-inline: 0.5rem;
}
/* left */
.left-testimoni,
.left-testimoni > div {
  display: flex;
  flex-direction: column;
}
.left-testimoni {
  gap: 37px;
  align-items: center;
  color: var(--white);
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
}
.left-testimoni > div {
  gap: 1rem;
  max-width: 462px;
}
.left-testimoni > div > h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}
.left-testimoni > div > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.left-testimoni > button {
  align-self: start;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border-radius: 50px;
  padding: 1rem 1.5rem;
}
/* right */
.right-testimoni {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.right-testimoni > div > div > div:first-child {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
/* inner */
.inner-left-testimoni,
.inner-right-testimoni {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.inner-left-testimoni > div,
.inner-right-testimoni > div {
  background-color: var(--primary-color-soft);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 267.03px;
}

.inner-left-testimoni > div > div > h6,
.inner-right-testimoni > div > div > h6 {
  font-size: 12.19px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: left;
}
.inner-left-testimoni > div > div > p,
.inner-right-testimoni > div > div > p {
  font-size: 9.75px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
}
.inner-left-testimoni > div > div > img,
.inner-right-testimoni > div > div > img {
  width: 26.82px;
  height: 26.82px;
}
/* details */
.details-inner-testimoni {
  display: flex;
  flex-direction: row !important;
  gap: 0.5rem;
  align-items: center;
}
.details-inner-testimoni > div > h6 {
  font-size: 7.32px;
  font-weight: 600;
  line-height: 10.97px;
  text-align: left;
}
.details-inner-testimoni > div > p {
  color: var(--tertiary-muted);
  font-size: 6.1px;
  font-weight: 400;
  line-height: 9.14px;
  text-align: left;
}
/* inner left */

.first-inner-left-testimoni {
  position: absolute;
  top: -1rem;
  z-index: 0;
}
.second-inner-left-testimoni {
  margin-top: 8rem;
}
.third-inner-left-testimoni {
  margin-bottom: 22px;
}
/* inner right */
.first-inner-right-testimoni {
  margin-top: 33px;
}
.third-inner-right-testimoni {
  position: absolute;
  bottom: -4rem;
}

@media screen and (max-width: 744px) {
  .container-testimoni {
    min-height: 454px;
    position: relative;
    overflow-x: hidden;
  }
  .left-testimoni > div > h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
  }
  .left-testimoni > div > p {
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
  }
  .right-testimoni {
    position: absolute;
    right: -14rem;
  }
}

@media screen and (max-width: 662px) {
  .right-testimoni {
    position: static;
    grid-template-columns: 1fr;
  }
  .inner-right-testimoni {
    display: none;
  }
  .inner-left-testimoni > div,
  .inner-right-testimoni > div {
    max-width: 100%;
  }
  .left-testimoni > div > h4 {
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;
  }
  .left-testimoni > div > p {
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
  }
  .left-testimoni > button {
    font-size: 10px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 430px) {
  .inner-right-testimoni {
    display: none;
  }
}

/* teenager */
.container-teenager {
  padding-top: var(--padding-top-teenager);
  margin-inline: auto;
  padding-inline: 49px;
}
.wrapper-teenager {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
/* title */
.teenager-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.teenager-title > h5 {
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.81px;
  text-align: left;
}
.teenager-title > h5 > span {
  color: var(--primary-blue);
}
.teenager-title > p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: var(--quaternary-muted);
}
/* inner */

.inner-teenager {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 12px;
}
.inner-teenager > div {
  position: relative;
  /* width: fit-content;
  justify-self: end; */
  width: 100%;
}
/* first item */
.first-item-teenager {
  grid-column: span 2;
  grid-row: span 2;
  justify-self: end;
}

.first-item-teenager > div > img {
  width: 100%;
}
.second-item-teenager > div > img {
  width: 100%;
}
.third-item-teenager > div > img {
  width: 100%;
}
.fourth-item-teenager > div > img {
  width: 100%;
}
.fifth-item-teenager > div {
  height: 100%;
}
.fifth-item-teenager > div > img {
  width: 100%;
  height: 100%;
}
.first-item-teenager > p,
.second-item-teenager > p,
.third-item-teenager > p,
.fourth-item-teenager > p,
.fifth-item-teenager > p {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: var(--white);
}
.first-item-teenager > button,
.second-item-teenager > button,
.third-item-teenager > button,
.fourth-item-teenager > button,
.fifth-item-teenager > button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: var(--white);
  background-color: var(--primary-dark-blue);

  font-size: 11.77px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}

.first-item-teenager > p,
.first-item-teenager > button,
.second-item-teenager > p,
.second-item-teenager > button,
.third-item-teenager > p,
.third-item-teenager > button,
.fourth-item-teenager > p,
.fourth-item-teenager > button,
.fifth-item-teenager > p,
.fifth-item-teenager > button {
  position: absolute;
  z-index: 1;
}
.first-item-teenager > p {
  right: 29px;
  bottom: 108px;
}
.first-item-teenager > button {
  bottom: 68px;
  right: 29px;
}

/* second item */
.second-item-teenager {
  grid-column: span 2;
}

.second-item-teenager > p {
  left: 23px;
  bottom: 80px;
}
.second-item-teenager > button {
  bottom: 37px;
  left: 23px;
}
/* third item */
.third-item-teenager {
  grid-column: 1/2;
  grid-row: 3/4;
}

.third-item-teenager > p,
.fourth-item-teenager > p {
  left: 19px;
  bottom: 70px;
}
.third-item-teenager > button,
.fourth-item-teenager > button {
  bottom: 30px;
  left: 19px;
}
/* fourth item */
.fourth-item-teenager {
  grid-column: 2/3;
  grid-row: 3/4;
}
/* fifth item */
.fifth-item-teenager {
  grid-column: 3/5;
  grid-row: 2/4;
}

.fifth-item-teenager > p {
  left: 23px;
  top: 23px;
}
.fifth-item-teenager > button {
  left: 23px;
  top: 76px;
}

/* TODO: soon */
.blue-box {
}

@media screen and (max-width: 744px) {
  .container-teenager {
    padding-inline: 0.5rem;
  }
  .inner-teenager {
    column-gap: 12px;
    row-gap: 17px;
  }
  .first-item-teenager > p,
  .second-item-teenager > p,
  .third-item-teenager > p,
  .fourth-item-teenager > p,
  .fifth-item-teenager > p {
    font-size: 18px;
    font-weight: 600;
    line-height: 27.72px;
    text-align: center;
  }
  .inner-teenager > div > button {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 0.3rem 0.7rem;
  }
  .teenager-title > h5 {
    font-size: 40px;
    font-weight: 400;
    line-height: 54.84px;
    text-align: left;
  }
  .teenager-title > p {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
  .third-item-teenager > button,
  .fourth-item-teenager > button {
    left: 0px;
  }
}

@media screen and (max-width: 514px) {
  .inner-teenager > div > button {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 0.3rem 0.7rem;
  }
}

@media screen and (max-width: 430px) {
  .container-teenager {
    padding-inline: 0.5rem;
  }
  .first-item-teenager > p,
  .second-item-teenager > p,
  .third-item-teenager > p,
  .fourth-item-teenager > p,
  .fifth-item-teenager > p {
    font-size: 16px;
    line-height: 24px;
  }
  .inner-teenager {
    column-gap: 7px;
    row-gap: 8px;
  }
  .inner-teenager > div > button {
    font-size: 8px;
    font-weight: 600;
    line-height: 6.75px;
    text-align: center;
  }
  .teenager-title > h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34.49px;
    text-align: left;
  }
  .teenager-title > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.87px;
    text-align: left;
  }
}

/* percentage */
.container-percentage-teenager {
  display: flex;
  flex-direction: column;
  padding-top: var(--padding-top-percentage);
  padding-bottom: var(--padding-botton-percentage);
  gap: 65px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
/* first inner */
.first-inner-percentage-teenager {
  display: flex;
  gap: 41px;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  max-width: 1149px;
}

.first-inner-percentage-teenager > h6 {
  font-family: DM Serif Display;
  font-size: 96px;
  font-weight: 400;
  line-height: 131.62px;
  color: var(--primary-dark-blue);
}
.first-inner-percentage-teenager > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 22.8px;
  color: var(--quinary-black);
}
/* second inner */
.second-inner-percentage-teenager {
  background-color: var(--tertiary-dark-blue);
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 76px;
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}
.second-inner-percentage-teenager > h6 {
  font-size: 30px;
  font-weight: 600;
  line-height: 34.2px;
  color: var(--white);
}
.second-inner-percentage-teenager > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 22.8px;
  text-align: left;
  color: var(--white);
}
.second-inner-percentage-teenager > button {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 744px) {
  .container-percentage-teenager {
    padding-inline: 1rem;
  }
  .first-inner-percentage-teenager {
    gap: 2rem;
  }
  .first-inner-percentage-teenager > h6 {
    font-size: 74px;
    font-weight: 400;
    line-height: 101.45px;
    text-align: left;
  }
  .first-inner-percentage-teenager > p {
    font-size: 18px;
    font-weight: 500;
    line-height: 18.24px;
    text-align: left;
  }
  .second-inner-percentage-teenager > h6 {
    font-size: 30px;
    font-weight: 600;
    line-height: 34.2px;
    text-align: left;
  }
  .second-inner-percentage-teenager > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 22.8px;
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .container-percentage-teenager {
    padding-inline: 0.5rem;
  }
  .first-inner-percentage-teenager {
    gap: 1rem;
  }

  .first-inner-percentage-teenager > h6 {
    font-size: 26px;
    font-weight: 400;
    line-height: 42.01px;
    text-align: left;
  }
  .first-inner-percentage-teenager > p {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
  }
  .second-inner-percentage-teenager > h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
  }
  .second-inner-percentage-teenager > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}

/* banner  */
.container-banner {
  width: 100%;
  height: 301px;
  background-color: var(--tertiary-dark-blue);
  box-shadow: var(--senary-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-banner > h6 {
  font-size: 64px;
  font-weight: 700;
  line-height: 81.92px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--white);
}

@media screen and (max-width: 744px) {
  .container-banner > h6 {
    font-size: 48px;
    font-weight: 700;
    line-height: 61.44px;
    letter-spacing: 0.1em;
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .container-banner > h6 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30.72px;
    letter-spacing: 0.1em;
    text-align: center;
  }
}

/* team */
.container-team {
  padding-top: var(--padding-top-team);
  padding-bottom: var(--padding-bottom-team);
  display: grid;
  grid-template-columns: repeat(auto-fit, 384px);
  gap: 32px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}
.container-team > div {
  border-radius: 35px;
  box-shadow: var(--primary-shadow);
}
.container-team > div > div:not(:first-child) > img {
  width: 100%;
}
.container-team > div > div,
.container-team > div > div > img {
  border-radius: 35px;
}
.container-team > div > div > img {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.container-team > div > div:not(:first-child) {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container-team > div > div > h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.container-team > div > div > p {
  color: var(--quinary-muted);
}
.container-team > div > div > span {
  color: var(--quinary-dim-gray);
}
/* card-person */

.card-person {
  height: 100%;
}

.card-person > div > img {
  width: 100%;
  height: 525px;
}
/* card banner */

.card-banner-team {
  height: 100%;
  background-color: var(--primary-dark-blue);
  padding: 83px 52px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.card-banner-team > * {
  color: var(--white);
}
.card-banner-team > div > img {
  width: 54px;
}

.card-banner-team > h6 {
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.81px;
  text-align: left;
}

.card-banner-team > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.card-banner-team > button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: fit-content;
  padding-inline: 1rem;
  color: var(--primary-dark-blue);
}

@media screen and (max-width: 744px) {
  .container-team {
    grid-template-columns: repeat(auto-fit, 275px);
    gap: 24px;
  }
  .card-person {
    height: 100%;
  }

  .card-person > div > img {
    width: 100%;
    height: 377px;
  }
  .card-banner-team > h6 {
    font-size: 34.47px;
    font-weight: 400;
    line-height: 47.26px;
    text-align: left;
  }
  .card-banner-team > p {
    font-size: 11.49px;
    font-weight: 400;
    line-height: 17.24px;
    text-align: left;
  }
  .card-banner-team {
    padding: 53px 33px;
    gap: 1rem;
  }
  .card-banner-team > button {
    font-size: 11.49px;
    font-weight: 500;
    line-height: 17.24px;
    text-align: left;
  }
  .container-team > div > div > h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
  .container-team > div > div > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
  }
  .container-team > div > div > span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
  }
}
@media screen and (max-width: 430px) {
  .container-team {
    grid-template-columns: repeat(auto-fit, 163px);
    gap: 16px;
  }
  .card-person {
    height: 100%;
  }

  .card-person > div > img {
    width: 100%;
    height: 224px;
  }
  .card-banner-team > h6 {
    font-size: 21.65px;
    font-weight: 400;
    line-height: 29.69px;
    text-align: left;
  }
  .card-banner-team > p {
    font-size: 7.22px;
    font-weight: 400;
    line-height: 10.83px;
    text-align: left;
  }
  .card-banner-team {
    padding: 32px 13px;
  }
  .card-banner-team > button {
    font-size: 7.22px;
    font-weight: 500;
    line-height: 10.83px;
    text-align: left;
  }
  .container-team > div > div > h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
  }
  .container-team > div > div > p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
  }
  .container-team > div > div > span {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
  }
  .card-banner-team {
    gap: 0.5rem;
  }
}

/* footer */

.container-footer-landing {
  background-color: var(--secondary-black);
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--white);
  padding-top: var(--padding-top-footer);
  padding-bottom: 1.5rem;
}
/* top */
.top-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1.5rem;
  justify-content: space-between;
  padding-inline: 1.5rem;
}
/* left */
.left-footer,
.left-footer > div {
  display: flex;
  flex-direction: column;
}
.left-footer {
  gap: 27px;
}
.left-footer > div:first-child {
  gap: 8px;
}
.left-footer > div:last-child {
  gap: 2px;
}

.left-footer > div > h6 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
}
.left-footer > div:first-child > div > img {
  width: 43px;
}

.left-footer > div:first-child > div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.left-footer > div:first-child > div > h6 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
/* mid */
.mid-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mid-footer > h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.mid-footer > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mid-footer > div > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 18.62px;
}
/* right */
.right-footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.right-footer > div:first-child {
  display: flex;
  gap: 22px;
  align-items: center;
}
.right-footer > div:first-child > img {
  width: 49px;
}
.right-footer > div:first-child > p {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
}
.right-footer > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.right-footer > div:last-child > h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.right-footer > div:last-child > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right-footer > div:last-child > div > img {
  width: 35px;
}

/* .bottom-footer {
} */
.bottom-footer > p {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  text-align: center;
}

@media screen and (max-width: 744px) {
  .top-footer {
    grid-template-columns: repeat(auto-fit, 1fr);
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 430px) {
  .top-footer {
    padding-inline: 0.5rem;
  }
}

/* chat */
.body-chat {
  background-color: #000049;
}
.body-chat > * {
  padding-block: 2rem;
}
/* aside */
.container-aside-chat {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-inline: 2.5rem;
  z-index: 1000;
}
.container-aside-chat > *,
.container-aside-chat > * > *,
.container-aside-chat > * > * > *,
.container-aside-chat > * > * > * > * {
  color: var(--white);
}
/* inner */
.inner-aside-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 46px;
}
.inner-aside-chat > div {
  display: flex;
  flex-direction: column;
}
/* top */
.top-aside-chat {
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-aside-chat > div > h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--primary-purple);
}
.top-aside-chat > div > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: var(--primary-purple);
}
.top-aside-chat > hr {
  width: 100%;
  height: 1px;
  color: var(--white);
}
.top-inner-aside-chat {
  width: 66px;
  height: 66px;
  background: var(--secondary-gradient);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-inner-aside-chat > img {
  width: 43px;
  height: 39px;
}

.bottom-inner-aside-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
.bottom-inner-aside-chat > button {
}
.bottom-inner-aside-chat > .gradient {
  background: var(--secondary-gradient);
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.bottom-inner-aside-chat > .gradient > span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.bottom-inner-aside-chat > .gradient > img {
  width: 26px;
  height: 26px;
}

.bottom-inner-aside-chat > .plain {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.bottom-inner-aside-chat > .plain > img {
  width: 26px;
  height: 26px;
}
.bottom-inner-aside-chat > .plain > span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
/* bottom */

.bottom-aside-chat {
  align-items: center;
  justify-content: center;
  position: relative;
}

.bottom-aside-chat > div {
}
.bottom-aside-chat > .circle-group {
  width: 73px;
  height: 73px;
  background: var(--secondary-gradient);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2.5rem;
}

.bottom-aside-chat > .circle-group > img {
  width: 38px;
  height: 38px;
}

.bottom-aside-chat > .user-credentials {
  background-image: url("../images/subtract.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom-aside-chat > .user-credentials > img {
}
.bottom-aside-chat > .user-credentials > h6 {
  color: black;
  margin-top: 1.5rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
.bottom-aside-chat > .user-credentials > p {
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.bottom-aside-chat > .user-credentials > a {
  color: red;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

/* room chat */
.container-room-chat {
  padding-left: calc(254px + 2.5rem);
  border-radius: 67px;
  /* min-height: 739px; */
  width: 100%;
}

.inner-room-chat {
  background-color: var(--white);
  padding-bottom: 2rem;
  margin-right: 46px;
  min-height: 739px;
  border-radius: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-room-chat {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.title-room-chat > h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;

  margin-left: 39px;
}
.title-room-chat > hr {
  background-color: var(--dark-gray);
}
.details-room-chat {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.circle-gradient {
  min-width: 52.8px;
  min-height: 52.8px;
  border-radius: 50%;
  background: var(--secondary-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.first-bubble {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  justify-content: end;
  align-items: start;
}
.first-bubble > div > img {
  width: 30.4px;
  height: 30.4px;
}
.first-bubble > div:first-child {
  background-color: var(--secondary-color-soft);
  border-radius: 40px 0px 40px 40px;
  padding: 1rem 1.5rem;
  margin-inline: 0.5rem;
}
.first-bubble > div > p {
  font-size: 14.4px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: right;
  max-width: 513.6px;
}

.second-bubble {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  justify-content: start;
  align-items: start;
}
.second-bubble > div > img {
  width: 29.68px;
  height: 27.28px;
}
.second-bubble > div:last-child {
  background-color: var(--primary-muted);
  border-radius: 0px 40px 40px 40px;
  padding: 1rem 1.5rem;
  margin-inline: 0.5rem;
}
.second-bubble > div > p {
  font-size: 14.44px;
  font-weight: 500;
  line-height: 21.66px;
  text-align: left;
  max-width: 514.25px;
}

.action-chat {
  margin-inline: 2rem;
  position: relative;
}
.action-chat > input {
  border: var(--primary-border-input);
  width: 100%;
  border-radius: 22.03px;
  padding: 1rem 0;
  padding-left: 46px;
  padding-right: 3.5rem;
}
.action-chat > input:placeholder {
  color: var(--light-gray);
  font-size: 15.74px;
  font-weight: 500;
  line-height: 23.61px;
  text-align: center;
}
.action-chat > input:focus {
  outline: none;
}
.action-chat > img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 30.69px;
  height: 30.69px;
}

@media screen and (max-width: 1024px) {
  .title-room-chat {
    background-color: var(--primary-dark-blue);
    flex-direction: row;
    box-shadow: 0px 2px 6.4px 0px #00000040;
    padding-block: 1rem;
    border-radius: 0 0 30px 30px;
    align-items: center;
    padding-left: 25px;
  }
  .title-room-chat > .container-logo-chat {
    width: 36.27px;
    height: 36.27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-gradient);
    border-radius: 50%;
    border: 3px solid var(--quinary-muted);
  }
  .title-room-chat > .container-logo-chat > img {
    width: 20.33px;
    height: 18.68px;
  }
  .title-room-chat > a > img {
    width: 17px;
    height: 17px;
    margin-right: 1rem;
  }
  .title-room-chat > h1 {
    margin-left: 0;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .title-room-chat > hr {
    display: none;
  }
  .first-bubble,
  .second-bubble {
    gap: 1rem;
  }
  .container-aside-chat {
    display: none;
  }
  .container-room-chat {
    padding-left: 0;
  }
  .inner-room-chat {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    border-radius: 0;
    padding-top: 0;
  }
  .action-chat {
    margin-inline: 0;
  }
  .body-chat > * {
    padding-block: 0;
  }
  .action-chat > input {
    border: 0;
    border-top: var(--primary-border-input);
    padding: 1.5rem 2.5rem;
  }
}

@media screen and (max-width: 744px) {
  .first-bubble {
    margin-right: 0.5rem;
  }
  .second-bubble {
    margin-left: 0.5rem;
  }
  .first-bubble,
  .second-bubble {
    gap: 0.5rem;
  }

  .circle-gradient {
    min-width: 32.06px;
    min-height: 32.06px;
  }
  .second-bubble > div > img,
  .first-bubble > div > img {
    width: calc(24px * 0.8);
    height: calc(24px * 0.8);
  }

  .first-bubble > div > p,
  .second-bubble > div > p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    max-width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .circle-gradient {
    min-width: 32.06px;
    min-height: 32.06px;
  }
  .second-bubble > div > img,
  .first-bubble > div > img {
    width: calc(24px * 0.8);
    height: calc(24px * 0.8);
  }

  .first-bubble > div > p,
  .second-bubble > div > p {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    max-width: 100%;
  }
}

/* decor */
/* hero */
.inner-left-landing {
  z-index: 2;
  position: relative;
}

.left-landing > .first,
.left-landing > .second,
.left-landing > .third,
.left-landing > .fourth,
.left-landing > .fifth,
.left-landing > .sixth,
.left-landing > .seventh {
  z-index: 0;
}
.left-landing > .first {
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 54px;
}
.left-landing > .second {
  width: 54px;
  height: 82px;
  bottom: 13.563rem;
  left: 0.5rem;
}

.left-landing > .third {
  width: 22px;
  height: 33px;
  left: 15.563rem;
  bottom: 13.375rem;
}

.left-landing > .fourth {
  width: 26px;
  height: 40px;
  right: 6.375rem;
  top: 10.063rem;
}

.left-landing > .fifth,
.left-landing > .seventh {
  display: none;
}

.left-landing > .sixth {
  bottom: -5.1rem;
}

@media screen and (max-width: 986px) {
  .left-landing > .fourth {
    top: 5rem;
  }
  .left-landing > .third {
    left: 1.5rem;
    top: 5rem;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 744px) {
  .left-landing > .second {
    bottom: 18rem;
  }
}

@media screen and (max-width: 430px) {
  .left-landing > .first,
  .left-landing > .second,
  .left-landing > .third,
  .left-landing > .fourth,
  .left-landing > .fifth,
  .left-landing > .sixth,
  .left-landing > .seventh {
    display: none;
  }
}

/* percentage */
.second-inner-percentage-teenager {
  position: relative;
  overflow: hidden;
}
.second-inner-percentage-teenager > img {
  position: absolute;
  z-index: 0;
}

.second-inner-percentage-teenager > .cloud-1 {
  left: 0.5rem;
  bottom: 0;
  width: 257px;
}
.second-inner-percentage-teenager > .cloud-2 {
  right: 0.5rem;
  bottom: 0;
  width: 257px;
}
.second-inner-percentage-teenager > .first {
  width: 5.73px;
  height: 9.44px;
  top: 21px;
  left: 91px;
}
.second-inner-percentage-teenager > .second {
  width: 6px;
  height: 10px;
  left: 60px;
  bottom: 60px;
}
.second-inner-percentage-teenager > .third {
  width: 6px;
  height: 10px;
  bottom: 28px;
  left: 108px;
}
.second-inner-percentage-teenager > .fourth {
  width: 6.07px;
  height: 9.78px;
  top: 20px;
  right: 108px;
}
.second-inner-percentage-teenager > .fifth {
  width: 6px;
  height: 9px;
  top: 48;
  right: 80px;
}
.second-inner-percentage-teenager > .sixth {
  width: 8px;
  height: 14px;
  bottom: 35px;
  right: 100px;
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 986px) {
}

@media screen and (max-width: 1024px) {
  .second-inner-percentage-teenager > .fifth {
    bottom: 50px;
  }
}

@media screen and (max-width: 744px) {
  .second-inner-percentage-teenager > .cloud-1,
  .second-inner-percentage-teenager > .cloud-2 {
    width: 191px;
  }
}

@media screen and (max-width: 430px) {
  .second-inner-percentage-teenager > .cloud-1,
  .second-inner-percentage-teenager > .cloud-2 {
    width: 86.64px;
  }
}

/* percentage */
.container-banner {
  position: relative;
}
.container-banner {
  position: relative;
  overflow: hidden;
}
.container-banner > img {
  position: absolute;
  z-index: 0;
  width: 24px;
}

.container-banner > .cloud-1 {
  left: 0.5rem;
  bottom: 0;
  width: 257px;
}
.container-banner > .cloud-2 {
  right: 0.5rem;
  bottom: 0;
  width: 257px;
}

.container-banner > .first {
  width: 5.73px;
  height: 9.44px;
  top: 21px;
  left: 91px;
}
.container-banner > .second {
  width: 6px;
  height: 10px;
  left: 60px;
  bottom: 60px;
}
.container-banner > .third {
  width: 6px;
  height: 10px;
  bottom: 28px;
  left: 108px;
}
.container-banner > .fourth {
  width: 6.07px;
  height: 9.78px;
  top: 20px;
  right: 108px;
}
.container-banner > .fifth {
  width: 6px;
  height: 9px;
  top: 48;
  right: 80px;
}
.container-banner > .sixth {
  width: 8px;
  height: 14px;
  bottom: 35px;
  right: 100px;
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 986px) {
}

@media screen and (max-width: 1024px) {
  .container-banner > .fifth {
    bottom: 50px;
  }
}

@media screen and (max-width: 744px) {
  .container-banner > .cloud-1,
  .container-banner > .cloud-2 {
    width: 191px;
  }
}

@media screen and (max-width: 430px) {
  .container-banner > .cloud-1,
  .container-banner > .cloud-2 {
    width: 86.64px;
  }
}

/* chat */
.container-aside-chat > img {
  position: absolute;
}

.container-aside-chat > .moon {
  width: 33.96px;
  height: 39.43px;
  left: 162px;
  bottom: 307px;
}

.container-aside-chat > .first,
.container-aside-chat > .second {
  width: 18.34px;
  height: 18.34px;
}

.container-aside-chat > .first {
  left: 42px;
  bottom: 304px;
}
.container-aside-chat > .second {
  left: 105px;
  bottom: 260px;
}
.container-aside-chat > .third {
  width: 20.22px;
  height: 20.22px;
  left: 20px;
  bottom: 205px;
}
.container-aside-chat > .fourth {
  width: 24px;
  height: 24px;
  right: 0;
  bottom: 212px;
}
