/* dashboard */
.body-dashboard {
  background-color: var(--ghost-white);
  position: relative;
  min-height: 120vh;
}
/* header */
.header-dashboard {
  background-color: var(--white);
  box-shadow: var(--primary-shadow);
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav-dashboard {
}
.inner-dashboard {
}

.inner-dashboard > span {
  color: var(--medium-gray);
}

.user-picture {
  width: 64px;
  border-radius: 50%;
}

.arrow-bottom {
  width: 16px;
}
.container-logo-nav {
  display: none;
}

/* logo appear  */
@media screen and (max-width: 800px) {
  .container-logo-nav {
    display: block;
  }
  .header-dashboard {
    justify-content: start;
  }
  .nav-dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

/* aside */

.aside-dashboard {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: var(--tertiary-shadow);
  z-index: 10;
  width: var(--width-dashboard-aside);
  background-color: var(--white);
}

.container-logo-dashboard {
  width: 100%;
}
.container-logo-dashboard > p {
  color: var(--primary-dark-blue);
}

.container-link-item-dashboard > a {
  width: 100%;
  transition: background-color var(--primary-transition-shorthand);
}

.container-link-item-dashboard > a:hover {
  background-color: var(--secondary-color-soft);
}
.inner-link-item-dashboard-active {
  background-color: var(--secondary-color-soft);
}
.container-link-item-dashboard > a > p {
  color: var(--secondary-dim-gray);
}

.inner-link-item-dashboard-active > p {
  color: var(--primary-dark-blue) !important;
}
.inner-link-item-dashboard-active::after {
  content: "";
  width: 0.5rem;
  height: 60px;
  background-color: var(--primary-dark-blue);
  position: absolute;
  right: 0;
  border-radius: 12px;
}
/* main */
.main-dashboard {
  padding: var(--padding-dashboard-main);
}
.container-main-title-dashboard > p {
  color: var(--tertiary-dim-gray);
}

/* table */
.container-table-dashboard {
  background-color: var(--white);
  box-shadow: var(--quaternary-shadow);
  border-radius: 17px;
  overflow-x: auto;
}
.container-table-dashboard {
  /* overflow-x: auto; */
}
/* scrollbar */

.container-table-dashboard::-webkit-scrollbar {
  background-color: var(--secondary-muted);
  height: 12px;
  border-radius: 10px;
}
.container-table-dashboard::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 10px;
}
.container-table-dashboard::-webkit-scrollbar-track {
  background-color: var(--secondary-muted);
  border-radius: 10px;
}
/*  */
.container-table-dashboard .table-dashboard {
  width: 100%;
  border-collapse: collapse;
}
.thead-dashboard {
  background-color: var(--alice-blue);
}

.thead-dashboard > tr > th,
.tbody-dashboard > tr > td {
  padding: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-dim-gray);
}

.thead-dashboard > tr > th {
  font-weight: 600;
}
.tbody-dashboard > tr > td {
  font-weight: 400;
}
.date-col {
  min-width: 112px;
}

.footer-select-dashboard {
  border: var(--secondary-border-input);
  background-color: var(--quaternary-dim-gray);
  border-radius: 0.5rem;
}
.divider {
  background-color: var(--divider);
}
/* take care aside */
@media screen and (max-width: 800px) {
  .aside-dashboard {
    display: none !important;
  }
  .main-dashboard {
    padding: 0;
  }
}

/* take care main  */
@media screen and (max-width: 800px) {
  .main-dashboard {
    padding-top: var(--padding-y-dashboard-main);
  }
  .main-dashboard,
  .container-table-dashboard {
    padding-inline: 1rem;
  }
}

/* responsive table */
@media screen and (max-width: 800px) {
  .table-dashboard thead {
    display: none;
  }

  .table-dashboard,
  .table-dashboard tbody,
  .table-dashboard tr,
  .table-dashboard td {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
  }

  .table-dashboard td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table-dashboard tr {
    margin-bottom: 15px;
  }

  .thead-dashboard > tr > th,
  .tbody-dashboard > tr > td {
    padding: 4px;
  }

  .table-dashboard td::before {
    content: attr(data-label);
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
  }
  .tbody-dashboard > tr > td > p {
    text-align: left;
  }

  .container-action-dashboard {
    justify-content: start !important;
  }
}

/* landing page */

/* header */
.header-landing {
  position: fixed;
  width: 100%;
  padding-top: var(--padding-top-nav-landing);
  padding-left: var(--padding-left-nav-landing);
  padding-right: var(--padding-right-nav-landing);
  z-index: 2;
}
.nav-landing {
  gap: 1rem;
}
.nav-landing,
.middle-nav {
  justify-content: space-between;
}
.nav-landing,
.left-nav,
.middle-nav {
  display: flex;
  align-items: center;
}
.left-nav,
.middle-nav {
  gap: 30px;
}
.middle-nav > li > a {
  font-weight: 500;
}
.nav-landing > .left-nav > img {
  width: 46px;
}
.left-nav > span,
.left-nav > p {
  color: var(--white);
}

.right-nav > button {
  padding-inline: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

/* hero landing page */
.container-hero-landing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 878px;
}
.container-hero-landing .left-landing,
.container-hero-landing .right-landing {
  padding-top: var(--padding-top-hero);
}
.container-hero-landing .left-landing {
  position: relative;
  grid-column: span 2;
  background-color: var(--primary-dark-blue);
}
.container-hero-landing .right-landing {
  grid-column: span 3;
}

.container-hero-landing .left-landing > img {
  width: 23px;
  position: absolute;
}
/* white */
.container-hero-landing .left-landing .first {
}
/* purple */
.container-hero-landing .left-landing .second {
}
.container-hero-landing .left-landing .third {
}
.container-hero-landing .left-landing .fourth {
}
.container-hero-landing .left-landing .fifth {
}
/* half circle */
.container-hero-landing .left-landing .sixth {
}
.container-hero-landing .left-landing .seventh {
}
.left-landing > .woman-bored {
  width: 411px !important;
  bottom: 0;
  right: -120px;
}
.container-hero-landing .left-landing .inner-left-landing {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
  position: absolute;
  left: 128px;
}
.container-hero-landing .left-landing .inner-left-landing > button {
  color: var(--white);
  display: flex;
  gap: 1rem;
  width: 100%;
}
.container-hero-landing .right-landing {
  background-color: var(--secondary-color-soft);
}
.container-hero-landing .right-landing .inner-right-landing {
  margin-left: 120px;
  max-width: 676px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-hero-landing .right-landing .inner-right-landing div h1 {
  font-family: DM Serif Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 87.74px;
  text-align: left;
}
.container-hero-landing .right-landing .inner-right-landing div h1 span {
  color: var(--primary-blue);
}
.top-inner-right-landing > p {
  color: var(--quaternary-black);
  font-size: 20px;
  font-weight: 600;
  line-height: 29.98px;
  text-align: left;
}
.bottom-inner-right-landing {
  background-color: var(--white);
  border: var(--primary-border);
  box-shadow: var(--quinary-shadow);
  border-radius: 10px;
  padding-left: 19px;
  padding-right: 32px;
  padding-top: 24px;
  padding-bottom: 26px;
  width: fit-content;
  display: flex;
  gap: 22px;
}
.bottom-inner-right-landing .container-love {
  background-color: var(--primary-blue);
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-inner-right-landing .container-love img {
  width: 31px;
  height: 31px;
}
.bottom-detail-inner-right-landing {
  max-width: 156px;
}
.bottom-detail-inner-right-landing > p {
  color: var(--primary-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 29.98px;
  text-align: left;
}
.bottom-detail-inner-right-landing > span {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.49px;
  text-align: left;
  color: var(--primary-dark-blue);
}
.bottom-inner-right-landing > img {
  width: 27px;
  height: 27px;
  align-self: center;
}

/* mental health section */
.container-mental-health {
  padding-top: var(--padding-top-mental-health);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
}
.left-mental-health {
  gap: 25px;
}

.left-mental-health,
.left-mental-health > .container-title,
.inner-left-mental-health,
.details-inner-left-mental-health > .description {
  display: flex;
  flex-direction: column;
}
.left-mental-health > .container-title {
  gap: 7px;
}
.left-mental-health .container-title h2 {
  font-family: DM Serif Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 87.74px;
  text-align: right;
}
.left-mental-health .container-title h2 > span {
  color: var(--primary-blue);
  display: block;
}
.left-mental-health .container-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.inner-left-mental-health {
  gap: 1rem;
  align-items: end;
}
.details-inner-left-mental-health {
  background-color: var(--primary-dark-blue);
  gap: 28px;
  border-radius: 12px;
  padding-block: 20px;
  padding-inline: 25px;
  display: flex;
  align-items: center;
  width: fit-content;
}
.details-inner-left-mental-health > .description {
  gap: 5px;
}
.details-inner-left-mental-health > .description > .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.details-inner-left-mental-health > .description > .subtitle {
  font-family: "Lexend", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.51px;
}
.details-inner-left-mental-health > .description > p {
  color: var(--white);
  text-align: right;
  max-width: 408px;
}

.details-inner-left-mental-health > .circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-inner-left-mental-health > .circle > img {
  width: 38px;
  height: 38px !important;
}

.right-mental-health {
  position: relative;
}
.right-mental-health > .gate {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.right-mental-health > .girl-laptop {
  width: 666px;
}
/* feature */
.container-feature {
  padding-top: var(--padding-top-feature);
  padding-bottom: var(--padding-bottom-feature);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-feature {
  margin-inline: auto;
}
.left-feature > img {
  margin-top: 66px;
  width: 521px;
  height: 657px;
}
.right-feature {
  display: flex;
  flex-direction: column;
  gap: 21px;
  max-width: 637px;
}
.right-feature > h3 {
  font-family: DM Serif Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 87.74px;
  text-align: right;
}
.right-feature > h3 > span {
  color: var(--primary-blue);
}
.inner-feature {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: end;
}
.inner-feature > .circle-number {
  width: 71px;
  height: 71px;
  background: var(--primary-dark-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-feature > .circle-number span {
  display: block;
  font-size: 32px;
  font-weight: 400;
  color: var(--white);
}
.inner-feature > h6 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: right;
}
.inner-feature > p {
  text-align: end;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: var(--tertiary-dim-gray);
}

/* testimoni */
.container-testimoni {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: var(--quarter-dark-blue);
  overflow-y: hidden;
}
.left-testimoni,
.left-testimoni > div {
  display: flex;
  flex-direction: column;
}
.left-testimoni {
  gap: 37px;
  align-items: center;
  color: var(--white);
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
}
.left-testimoni > div {
  gap: 7px;
  max-width: 462px;
}
.left-testimoni > div > h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}
.left-testimoni > div > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.left-testimoni > button {
  align-self: start;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border-radius: 50px;
  padding: 1rem 1.5rem;
}
.right-testimoni {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.inner-left-testimoni,
.inner-right-testimoni {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.inner-left-testimoni > div,
.inner-right-testimoni > div {
  background-color: var(--primary-color-soft);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 267.03px;
}

.inner-left-testimoni > div > div > h6,
.inner-right-testimoni > div > div > h6 {
  font-size: 12.19px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: left;
}
.inner-left-testimoni > div > div > p,
.inner-right-testimoni > div > div > p {
  font-size: 9.75px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
}
.inner-left-testimoni > div > div > img,
.inner-right-testimoni > div > div > img {
  width: 26.82px;
  height: 26.82px;
}

.details-inner-testimoni {
  display: flex;
  flex-direction: row !important;
  gap: 0.5rem;
  align-items: center;
}
.details-inner-testimoni > div > h6 {
  font-size: 7.32px;
  font-weight: 600;
  line-height: 10.97px;
  text-align: left;
}
.details-inner-testimoni > div > p {
  color: var(--tertiary-muted);
  font-size: 6.1px;
  font-weight: 400;
  line-height: 9.14px;
  text-align: left;
}

.first-inner-left-testimoni {
  position: absolute;
  top: -1rem;
  z-index: 0;
}
.second-inner-left-testimoni {
  margin-top: 8rem;
}
.third-inner-left-testimoni {
  margin-bottom: 22px;
}

.first-inner-right-testimoni {
  margin-top: 33px;
}
.third-inner-right-testimoni {
  position: absolute;
  bottom: -4rem;
}

/* teenager */
.container-teenager {
  padding-top: var(--padding-top-teenager);
  margin-inline: auto;
}
.wrapper-teenager {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.teenager-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.teenager-title > h5 {
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.81px;
  text-align: left;
}
.teenager-title > h5 > span {
  color: var(--primary-blue);
}
.teenager-title > p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: var(--quaternary-muted);
}

.inner-teenager {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 33px;
  row-gap: 30px;
}
.inner-teenager > div {
  position: relative;
  width: fit-content;
  height: fit-content;
  justify-self: end;
}
.first-item-teenager {
  grid-column: span 2;
  grid-row: span 2;
  justify-self: end;
}

.first-item-teenager > div > img {
  width: 562px;
}
.second-item-teenager > div > img {
  width: 580px;
}
.third-item-teenager > div > img {
  width: 259px;
}
.fourth-item-teenager > div > img {
  width: 259px;
}
.fifth-item-teenager > div > img {
  width: 580px;
}
.first-item-teenager > p,
.second-item-teenager > p,
.third-item-teenager > p,
.fourth-item-teenager > p,
.fifth-item-teenager > p {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: var(--white);
}
.first-item-teenager > button,
.second-item-teenager > button,
.third-item-teenager > button,
.fourth-item-teenager > button,
.fifth-item-teenager > button {
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  font-size: 12px;
  color: var(--white);
  background-color: var(--primary-dark-blue);
  font-family: Poppins;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}
.first-item-teenager > p,
.first-item-teenager > button,
.second-item-teenager > p,
.second-item-teenager > button,
.third-item-teenager > p,
.third-item-teenager > button,
.fourth-item-teenager > p,
.fourth-item-teenager > button,
.fifth-item-teenager > p,
.fifth-item-teenager > button {
  position: absolute;
  z-index: 1;
}
.first-item-teenager > p {
  right: 29px;
  bottom: 108px;
}
.first-item-teenager > button {
  bottom: 76px;
  right: 29px;
}

.second-item-teenager {
  grid-column: span 2;
}
.second-item-teenager > p {
  left: 23px;
  bottom: 66px;
}
.second-item-teenager > button {
  bottom: 37px;
  left: 23px;
}
.third-item-teenager {
  grid-column: 1/2;
  grid-row: 3/4;
}
.third-item-teenager > p,
.fourth-item-teenager > p {
  left: 19px;
  bottom: 70px;
}
.third-item-teenager > button,
.fourth-item-teenager > button {
  bottom: 42px;
  left: 19px;
}
.fourth-item-teenager {
  grid-column: 2/3;
  grid-row: 3/4;
}

.fifth-item-teenager {
  grid-column: 3/5;
  grid-row: 2/4;
}
.fifth-item-teenager > p {
  left: 23px;
  top: 23px;
}
.fifth-item-teenager > button {
  left: 23px;
  top: 76px;
}
/* TODO: soon */
.blue-box {
}

/* percentage */
.container-percentage-teenager {
  display: flex;
  flex-direction: column;
  padding-top: var(--padding-top-percentage);
  padding-bottom: var(--padding-botton-percentage);
  gap: 65px;
  margin-inline: auto;
}
.first-inner-percentage-teenager {
  display: flex;
  gap: 41px;
  align-items: center;
  justify-content: center;
  width: calc(263px + 614px);
  margin-inline: auto;
}
.first-inner-percentage-teenager > h6 {
  font-family: DM Serif Display;
  font-size: 96px;
  font-weight: 400;
  line-height: 131.62px;
  color: var(--primary-dark-blue);
}
.first-inner-percentage-teenager > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 22.8px;
  color: var(--quinary-black);
}
.second-inner-percentage-teenager {
  background-color: var(--tertiary-dark-blue);
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 76px;
  width: 1149px;
  margin-inline: auto;
}
.second-inner-percentage-teenager > h6 {
  font-size: 30px;
  font-weight: 600;
  line-height: 34.2px;
  color: var(--white);
}
.second-inner-percentage-teenager > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 22.8px;
  text-align: left;
  color: var(--white);
}

/* banner  */
.container-banner {
  width: 100%;
  height: 301px;
  background-color: var(--tertiary-dark-blue);
  box-shadow: var(--senary-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-banner > h6 {
  font-size: 64px;
  font-weight: 700;
  line-height: 81.92px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--white);
}

/* team */
.container-team {
  padding-top: var(--padding-top-team);
  padding-bottom: var(--padding-bottom-team);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 426px));
  gap: 75px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}
.container-team > div {
  border-radius: 35px;
  box-shadow: var(--primary-shadow);
}
.container-team > div > div:not(:first-child) > img {
  width: 100%;
}
.container-team > div > div,
.container-team > div > div > img {
  border-radius: 35px;
}
.container-team > div > div > img {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.container-team > div > div:not(:first-child) {
  padding: 1rem;
}
.container-team > div > div > h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.container-team > div > div > p {
  color: var(--quinary-muted);
}
.container-team > div > div > span {
  color: var(--quinary-dim-gray);
}

.card-person {
  height: 100%;
}

.card-person > div > img {
  width: 100%;
  height: 525px;
}

.card-banner-team {
  height: 100%;
  background-color: var(--primary-dark-blue);
  padding: 83px 52px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.card-banner-team > * {
  color: var(--white);
}
.card-banner-team > div > img {
  width: 54px;
}

.card-banner-team > h6 {
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.81px;
  text-align: left;
}

.card-banner-team > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.card-banner-team > button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: fit-content;
  padding-inline: 1.5rem;
  color: var(--primary-dark-blue);
}
