:root {
  --white: #ffffff;
  --ghost-white: #fafaff;
  --primary-black: #000000;
  --secondary-black: #1f1f1f;
  --tertiary-black: #2f2f2f;
  --light-blue: #03a9f4;
  --alice-blue: #f6fdff;
  --primary-blue: #1b1aff;
  --secondary-blue: #0100df;
  --primary-dark-blue: #01007b;
  --tertiary-dark-blue: #00004c;
  --red: #ff0000;
  --periwinkle: #9c9cd9;
  --dark-gray: #8f8f8f;
  --light-gray: #aeaeae;
  --medium-gray: #747474;
  --primary-dim-gray: #494949;
  --secondary-dim-gray: #6d6d6d;
  --tertiary-dim-gray: #727272;
  --quaternary-dim-gray: #F9F9F9
  
  --bg-in-the-dark: #40409c;
  --primary-color-soft: #f7f6ff;
  --secondary-color-soft: #edfaff;
  --primary-muted: #f5f5f5;
  --secondary-muted: #5C5C5C;

  /* shadow */
  --primary-shadow: 0px 4px 4px 0px #00000040;
  --secondary-shadow: 0px 4px 4px 0px #5c5bff4f;
  --tertiary-shadow: 6px 0px 18.2px 0px #00000040;
  --quaternary-shadow: 0px 4px 5.6px 0px #00000040;

  /* gradient */
  --primary-gradient: linear-gradient(90deg, #9595ff 0%, #1b1aff 100%);
  --secondary-gradient: linear-gradient(180deg, #7978ff 0%, #3b3aff 100%);

  /* input */
  --primary-border-input: 1px solid #929292;
  --secondary-border-input: 1px solid #c7c7c7;
  --tertiary-border-input: 1px solid #959595;

  /* dashboard */
  --height-dashboard-nav: 88px;
  --width-dashboard-aside: calc(349px - 2rem);
  --padding-top-dashboard-main: 46px;
  --padding-right-dashboard-main: 60px;
  --padding-left-dashboard-main: 64px;
  --padding-y-dashboard-main: calc(
    var(--height-dashboard-nav) + var(--padding-top-dashboard-main)
  );
  --padding-dashboard-main: calc(
      var(--height-dashboard-nav) + var(--padding-top-dashboard-main)
    )
    var(--padding-right-dashboard-main) 0
    calc(var(--width-dashboard-aside) + var(--padding-left-dashboard-main));

  /* transition */
  --primary-transition-shorthand: 200ms ease-in-out;
}
